<!-- Start of div -->
<div>

    <div class="columns is-multiline is-mobile">
        <div class="column is-half">
            <div class="level-left">
                <div class="level-item">
                  <p class="subtitle is-5">
                    <strong>Journalize</strong> 
                  </p>
                </div>
                <div class="level-item">
                  <div class="field has-addons">
                    <p class="control">
                        <a class="button is-info">Add</a>
                    </p>
                  </div>
                </div>
              </div>
        </div> 
        <!-- End of row 1: left column -->
  
  
         <div class="column is-half">
            <div class="level-right">
                <div class="field has-addons">
                    <div class="control">
                      <input class="input" type="text" placeholder="Search">
                    </div>
                    <div class="control">
                      <a class="button is-info">
                        Search
                      </a>
                    </div>
                  </div>
                </div>
         </div>
         <!-- End of row 1: right column -->
        
         <div class="column is-half">
           <div class="level-left">
            
              <label class="label">Start Date:</label>
              <p class="buttons">
                  <a class="button">
                    <span class="icon is-small">
                      <i class="fas fa-bold"></i>
                    </span>
                  </a>

                  <label class="label">End Date:</label>
                  <a class="button">
                    <span class="icon is-small">
                      <i class="fas fa-italic"></i>
                    </span>
                  </a>

                  <a class="button is-info">Filter</a>
                
                </p>

              
                  
                  
                  <!-- <p class="control">
                      <a class="button is-info">
                        Filter
                      </a>
                    </p> -->
                   

           </div>
        </div>
        <!-- End of row 2: left column -->

        <div class="column is-half">
          <div class="level-right">
           <p class="level-item"><strong>All</strong></p>
           <p class="level-item"><a>Approved</a></p>
           <p class="level-item"><a>Needs Approval</a></p>
           <p class="level-item"><a>Rejected</a></p>
          </div>
        </div>
        <!-- End of row 2: right column -->
  
      </div>   


<table class="table is-bordered is-striped is-narrow is-hoverable">
  <thead>
    <tr>
      <th><abbr title="Log"></abbr>Log</th>
      <th><abbr title="Type"></abbr>Type</th>
      <th><abbr title="Creator"></abbr>Creator</th>
      <th><abbr title="Accounts"></abbr>Accounts</th>
      <th><abbr title="Debit"></abbr>Debit</th>
      <th><abbr title="Credit"></abbr>Credit</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
</table>

<!-- </div> -->
   
<!-- End of whole container -->
</div> 