<div class="form-group" style="margin: auto; width: 50%;">
  <table id="ledgerTable" style=" table-layout:fixed">
    <tr>
      <th colspan="4" >
        <label>{{'Date: ' + (currentDate | date: 'MM/dd/yyyy')}}</label>
        <label style="margin: auto; padding-left: 33%">{{trialTitle}}</label>
      </th>
    <tr>
    <tr>
      <th >Account</th>
      <th >Number</th>
      <th >Debit </th>
      <th >Credit </th>
    </tr>
    <tr *ngFor="let account of accountsArranged">
      <td>
        <button class="btn btn-link" (click)="viewLedger(account.accountName)">{{account.accountName}}</button>
      </td>
      <td>{{ account.accountNumber }}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
      <td *ngIf="account.normalSide == 'Debit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">&nbsp;</td>
      <td *ngIf="account.normalSide == 'Credit'" style="text-align: right;">{{ account.currentBalance | number : '1.2-2'}}</td>
    </tr>
    <tr>
      <th ></th>
      <th ></th>
      <th style="text-align: right;">{{debitTotal | number : '1.2-2'}}</th>
      <th style="text-align: right;">{{creditTotal | number : '1.2-2'}}</th>
    </tr>
  </table>
  <button class="btn btn-primary" (click)="convertPDF()">Download Table</button>
</div>
