<form>
<div class="form-row">
 <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Account</th>
      <th scope="col">Debit</th>
      <th scope="col">Credit</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">Cash</th>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th scope="row">Accounts Receivable</th>
      <td></td>
      <td></td>
     </tr>

     <tr>
        <th scope="row">Prepaid Rent</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th scope="row">Prepaid Insurance</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th scope="row">Supplies</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th scope="row">Office Equipment</th>
        <td></td>
        <td></td>
      </tr> 

      <tr>
        <th scope="row">Accumulated Depreciation Equipment</th>
        <td></td>
        <td></td>
      </tr> 

     <tr>
       <th scope="row">Accounts Payable</th>
       <td></td>
       <td></td>
     </tr>
  
     <tr>
       <th scope="row">Salaries Payable</th>
       <td></td>
       <td></td>
     </tr> 
  
    <tr>
       <th scope="row">Unearned Revenue</th>
       <td></td>
       <td></td>
     </tr>  
     
     <tr>
       <th scope="row">Contribued Capital</th>
      <td></td>
       <td></td>
     </tr>
  
     <tr>
       <th scope="row">Retained Earnings</th>
       <td></td>
       <td></td>
     </tr> 
  
     <tr>
      <th scope="row">Dividends Declared</th>
      <td></td>
      <td></td>
     </tr>

    <tr>
       <th scope="row">Service Revenue</th>
       <td></td>
       <td></td>
     </tr> 
     
     <tr>
      <th scope="row">Insurance Expense</th>
      <td></td>
      <td></td>
     </tr>
  
     <tr>
       <th scope="row">Depreciation Expense</th>
       <td></td>
       <td></td>
     </tr> 
  
     <tr>
       <th scope="row">Rent Expense</th>
       <td></td>
       <td></td>
     </tr>    

     <tr>
       <th scope="row">Supplies Expense</th>
       <td></td>
       <td></td>
     </tr>
    
     <tr>
       <th scope="row">Salaries Expense</th>
       <td></td>
       <td></td>
       </tr> 
    
     <tr>
       <th scope="row">Telephone Expense</th>
       <td></td>
      <td></td>
     </tr> 

     <tr>
      <th scope="row">Utilities Expense</th>
      <td></td>
      <td></td>
    </tr> 

    <tr>
      <th scope="row">Advertising Expense</th>
      <td></td>
      <td></td>
    </tr> 

    <tr>
      <th scope="row">Totals</th>
      <td></td>
      <td></td>
     </tr> 

  </tbody>  
</table>
</div>
</form>