
<form #adminForm='ngForm'>
  <div>
  <div class='sidenav'>
    <div class = 'container-fluid'>
      <h2> {{indicator}} </h2>
      <div>
      <button class='btn btn-link' (click)='viewHome()' id='button0' >Home </button>
      </div>
      <button class='btn btn-link' (click)='viewUserList()' id='button1' *ngIf='access == 1 || access == 2'>User List</button>
      <button class='btn btn-link' (click)='viewLog()' id='button2' *ngIf='access == 1'>User Log</button>
      <button class='btn btn-link' (click)='viewCoA()' id='button3' >Chart of Accounts</button>
      <!--Admin can access the journal just for testing purposes -->
      <button class='btn btn-link' (click)='viewJournal()' id='button4' *ngIf='access == 1 || access == 2' >Journal</button>
      <button class='btn btn-link' (click)='viewGLedger()' id='button6' >General Ledger</button>
      <button class='btn btn-link' (click)='viewTrialBalance()' id='button7' >Trial Balance</button>
      <button class='btn btn-link' (click)='logOut()' id='button5' >Log Out</button>

    </div>
  </div>
    <div class='right'>
      <router-outlet></router-outlet>
      <!--
      <ng-container [ngSwitch]='currentpage'>
        <app-home-screen *ngSwitchCase='0'></app-home-screen>
        <app-chart-of-accounts *ngSwitchCase='1'></app-chart-of-accounts>
        <app-add-user *ngSwitchCase='2'></app-add-user>
        <app-user-log *ngSwitchCase='3'></app-user-log>
        </ng-container>
        -->
    </div>


  </div>

</form>
