

<div class="form-group">
<table >
  <thead>
  <tr>
    <th colspan="8" class="col-xs-1 text-center">General Journal</th>
  <tr>
  <tr>
    <th><abbr title="Date"></abbr>Date</th>
    <th><abbr title="Type"></abbr>Number</th>
    <th><abbr title="Created By"></abbr>Description</th>
    <th><abbr title="Accounts"></abbr>REF</th>
    <th><abbr title="Reference"></abbr>Debit</th>
    <th><abbr title="Debit"></abbr>Credit</th>
    <th><abbr title="Credit"></abbr>Balance</th>
  </tr>
  </thead>
  </table>
  </div>
